<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo0.mapper.SeekMapper">

    <select id="findSeekInfo" resultType="com.example.demo0.entity.Seek">
    select id,dirname,filename,ncount,lcount,ccount,scount from seekresult;
  </select>
    <insert id="addSeek" parameterType="com.example.demo0.entity.Seek">
    insert into seekresult (id, dirname)
    values (#{id,jdbcType=INTEGER}, #{dirname,jdbcType=VARCHAR})
  </insert>
    <insert id="addSeekInfo" parameterType="com.example.demo0.entity.Seek">
    insert into seekresult (id,dirname,filename,ncount,lcount,ccount,scount)
    values
    (#{id,jdbcType=INTEGER},#{dirname,jdbcType=VARCHAR},#{filename,jdbcType=VARCHAR},#{ncount,
    jdbcType=INTEGER},#{lcount,jdbcType=INTEGER},#{ccount,jdbcType=INTEGER},#{scount,
    jdbcType=INTEGER})
  </insert>
    <delete id="delSeekInfo" parameterType="java.lang.Integer">
   delete from seekresult where id = #{id,jdbcType=INTEGER}
  </delete>
    <update id="updSeekInfo" parameterType="com.example.demo0.entity.Seek">

    </update>

</mapper>